<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-sdk android:minSdkVersion="18" android:targetSdkVersion="18" />
	<application>
		<service android:name="com.estimote.sdk.service.BeaconService" android:exported="false" />
	</application>
</manifest>